.box {
    margin: 30%;
    width: 45%;
    margin-top: auto;
    min-width: 150px;
    padding-left: 10px;
}

.grid {
    min-height: 100%;
    display:flex;
    flex-wrap:wrap; 
    flex-direction: row;
}