.products-container {
    margin-left: 50px;
    margin-right: 50px;
}

.add-product-button{
    width: 220px;
    height: 50px;
    border: none;
    background-color: #B38B59;
    border-radius: 3px;
    transition: 0.5s;
    animation: ease-in;
    font-size:x-large;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add-product-button:hover{
    transform: scale(0.9);
}

.card {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    box-shadow: 0px 0px 10px -5px rgb(93, 93, 93);
    margin: 30px;
    border-radius: 5px;
    transition: 0.5s;
    animation: ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px -5px rgb(95, 95, 95);
}


.card-image{
    object-fit: contain;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgb(93, 93, 93);
    position: relative;
    top: 0px;
    left: 0px
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #F0F0F0;
    position: absolute;
    top: 0;
    left: 250px;
    right: 0px;
}

.name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.delete-button {
    width: 100px;
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background-color: #C25450;
    border-radius: 15px;
    color: white;
    transition: 0.5s;
    animation:alternate;
}

.delete-button:hover{
    transform: scale(0.9);
}

.edit-button {
    width: 100px;
    position: absolute;
    right: 120px;
    top: 15px;
    border: none;
    background-color: #50A181;
    border-radius: 15px;
    color: white;
    transition: 0.5s;
    animation:alternate;
}

.edit-button:hover{
    transform: scale(0.9);
}

.description {
    font-size: 14px;
}

.numbers-container {
    display: flex;
    justify-content: space-between;
    background-color: #eee8e0;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.price {
    font-size: 16px;
}

.stock {
    font-size: 16px;
}

.sold {
    font-size: 16px;}

.seller-details-container {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    background-color: #eee8e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-details-container {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    background-color: #eee8e0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detail-bg {
    background-color: #fffaf4;
    border-radius: 30px;
    padding: 5px;
}

.detail{
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.button-add-spec {
    border: none;
    border-radius: 5px;
    background-color: #50A181;
    height: 35px;
    color: white;
    margin-top: 6px;
}





