.add-product-button{
    width: 220px;
    height: 50px;
    border: none;
    background-color: #B38B59;
    border-radius: 3px;
    transition: 0.5s;
    animation: ease-in;
    font-size:x-large;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add-product-button:hover{
    transform: scale(0.9);
}

.card-container{
    width: 450px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgb(93, 93, 93);
    overflow: hidden;
    margin: 10px;
    transition: 0.5s;
    animation: ease-in;
}

.card-container:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px 0px rgb(136, 136, 136);
}

.image-container{
    position: relative;
}

.card-image{
    display: block;
    object-fit: contain;
        width: 450px;
    height: 450px;
    border-radius: 5px;
}

.edit-button{
    position: absolute;
    top: 3%;
    left: 80%;
    border-radius: 50px;
    border-width: 0;
    height: 30px;
    width: 80px;
    transition: 0.3s;
    animation: ease-in;
    font-size: medium;
    background-color:mediumspringgreen;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.delete-button{
    position: absolute;
    top: 3%;
    left: 60%;
    border-radius: 50px;
    border-width: 0;
    height: 30px;
    width: 80px;
    transition: 0.3s;
    animation: ease-in;
    font-size: medium;
    background-color:orangered;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.edit-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px rgb(70, 70, 70);
    background-color: rgb(255, 255, 131);
}

.card-name{
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-price{
    display: inline-block;
    background-color:rgb(239, 239, 239);
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.card-details-container{
    margin-left: 10px;
    margin-right: 10px;
}

.card-quantity{
    display: block;
    font-weight:normal;
    float: left;
}

.card-sold{
    font-weight:normal;
    display: block;
    float: right;
}

